<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Sida finst ikkje</title>
</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>

<main>
    <h1 class="ds-heading" data-size="lg">
        Beklager! Me fann ikkje sida.
    </h1>

    <p class="ds-paragraph">
        Dobbeltsjekk om du har rett lenke eller gi ei melding på slack-kanalen vår viss du trur det er ein bug.
    </p>

    <p class="ds-paragraph">
        <a th:href="@{/}" class="ds-button">
            Heim
        </a>
    </p>
</main>

<footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>