<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Intern feil</title>
</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>

<main>
    <h1 class="ds-heading" data-size="lg">
        Beklager! Noko gjekk gale.
    </h1>

    <p class="ds-paragraph">
        <div th:text="${errorMessage}"></div>
        <code th:text="${statusCode}"></code>
        <code th:text="${details}"></code>
    </p>

    <p class="ds-paragraph">
        <a th:href="@{/}" class="ds-button">
            Heim
        </a>
    </p>
</main>

<footer th:replace="~{fragments/general :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
</body>
</html>