<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Sandkassa for digital lommebok: Test issuer</title>
</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>

<main>
    <div>
        <h1 class="ds-heading" data-size="lg">
            Send bevis til mobilen
        </h1>
        <p class="ds-paragraph">
            No er me i gong med å utferding av bevis, køyr på med mobilen!
        </p>
    </div>

    <p th:text="${error}" class="ds-validation-message" th:if="${error}">
    </p>


    <div class="ds-card" style="max-width: 600px">

        <div id="cross-device-request">
            <img th:src="${'data:image/png;base64,' + qrcode}" alt="QR kode for bevis" id="qrcode-cross-device" width="100%" />
        </div>

        <div class="flex-container" style="min-width: unset">
            <a th:href="${urlSameSite}" class="ds-button" type="button" data-variant="primary" style="min-width:75px">
                Opne på mobilen
            </a>
            <a th:href="@{/}" class="ds-button" type="button" data-variant="secondary">
                Tilbake
            </a>
        </div>
    </div>

    <p class="ds-paragraph">
        Response som JSON frå issuer-server:
    </p>
    <code th:text="${offer}"></code>



</main>

<footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>