<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
    <head>
        <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
        <title>Sandkassa for digital lommebok: Test issuer</title>
    </head>

    <body>
        <header th:replace="~{fragments/general :: page_header_fragment}"></header>

        <main>
            <div>
                <h1 class="ds-heading" data-size="lg">
                    Demo issuer-ui for å starte utsteding av bevis med Digdir sin generelle issuer
                </h1>
            </div>


            <h2 class="ds-heading">
                starta utstedelse av bevis
            </h2>

            <code>noko response skal inn hit</code>



        </main>

        <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
    </body>
</html>