<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
    <head>
        <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
        <title>EUDIW sandkassa for digital lommebok: Bevisutferdar</title>
    </head>

    <body>
        <header th:replace="~{fragments/general :: page_header_fragment}"></header>

        <main>
            <div>
                <h1 class="ds-heading" data-size="lg">
                    Start utferdig av bevis
                </h1>
                <p class="ds-paragraph">
                    Start utferdig av bevis med Digdir sin generelle utferdar (issuer)
                </p>
            </div>

            <form th:fragment="send_attributes_form_fragment"
                  id="send_attributes_form"
                  th:action="@{/start-issuance}"
                  method="POST">


                <p class="ds-paragraph">
                    <label for="credential_configuration_id"
                           data-weight="medium"
                           class="ds-label">
                        Credential configuration ID (frå issuer)
                    </label>
                    <select name="credential_configuration_ids" id="credential_configuration_id"
                           class="ds-select">
                        <option value="no.digdir.eudiw.pid_mso_mdoc" selected>no.digdir.eudiw.pid_mso_mdoc</option>
                        <option value="no.skatteetaten.nnid_mso_mdoc">no.skatteetaten.nnid_mso_mdoc</option>
                    </select>
                </p>

                <button class="ds-button ds-button--primary"
                        type="submit"
                        form="send_attributes_form"
                        data-variant="primary">
                    Start utferdig av bevis
                </button>
            </form>

        </main>

        <footer th:replace="~{fragments/general :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
    </body>
</html>