<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>EUDIW sandkassa for digital lommebok: Bevisutferdar</title>
</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>

<main>
    <div>
        <h1 class="ds-heading" data-size="lg">
            Vel bevis
        </h1>
        <p class="ds-paragraph">
            Start utferdig av bevis med Digdir sin generelle utferdar (issuer)
        </p>
    </div>
    <div class="flex-container">
    <a th:href="@{/start-issuance?credential_configuration_id=no.digdir.eudiw.pid_mso_mdoc}" class="ds-card"
       data-variant="neutral" >
        <h2 class="ds-heading">PID</h2>
        <p class="ds-paragraph" data-variant="default">
            no.digdir.eudiw.pid_mso_mdoc
        </p>
    </a>
    <a th:href="@{/start-issuance?credential_configuration_id=dummy.pid_mso_mdoc}" class="ds-card"
       data-variant="neutral" >
        <h2 class="ds-heading">Dummy</h2>
        <p class="ds-paragraph" data-variant="default">
            dummy.pid_mso_mdoc
        </p>
    </a>
    </div>

</main>

<footer th:replace="~{fragments/general :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
</body>
</html>